<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}">

  <title>Show Recipe</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"
          th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container-fluid" style="margin-top: 20px">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-primary">
      <div class="card-header">
        <h2 class="card-title" th:text="${recipe.description}">My Recipies!</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <h5>Categories:</h5>
          </div>
          <div class="col-md-10">
            <ul>
              <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
              <!--/*@thymesVar id="category" type="geminica.guru.springframework.recipe.domain.Category"*/-->
              <li th:each="category:${recipe.categories}" th:text="${category?.name}">Cat 1</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
          <div class="col-md-2">
            <h5>Prep Time:</h5>
          </div>
          <div class="col-md-2">
            <h5 th:text="${recipe?.prepTime + ' Min'}">1s</h5>
          </div>
          <div class="col-md-2">
            <h5>Difficulty:</h5>
          </div>
          <div class="col-md-6">
            <h5 th:text="${recipe?.difficulty}">Some</h5>
          </div>
        </div>
        <div class="row">
          <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
          <div class="col-md-2">
            <h5>Cook Time:</h5>
          </div>
          <div class="col-md-2">
            <h5 th:text="${recipe?.cookTime + ' Min'}">1s</h5>
          </div>
          <div class="col-md-2">
            <h5>Servings:</h5>
          </div>
          <div class="col-md-6">
            <h5 th:text="${recipe?.servings}">5</h5>
          </div>
        </div>
        <div class="row">
          <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
          <div class="col-md-2">
            <h5>Source:</h5>
          </div>
          <div class="col-md-2">
            <h5 th:text="${recipe?.source}">source</h5>
          </div>
          <div class="col-md-2">
            <h5>URL:</h5>
          </div>
          <div class="col-md-6">
            <p th:text="${recipe?.url}">https://foo.bar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Ingredients</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
              <!--/*@thymesVar id="ingredient" type="geminica.guru.springframework.recipe.domain.Ingredient"*/-->
              <li th:each="ingredient:${recipe.ingredients}"
                  th:text="${ingredient?.amount + ' ' + ingredient?.uom?.uom + ' - ' + ingredient?.description}">
                1 - tbs - Milk
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Directions</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
            <pre th:text="${recipe?.directions}">Some lengthy directions</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Notes</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <!--/*@thymesVar id="recipe" type="geminica.guru.springframework.recipe.domain.Recipe"*/-->
            <p th:text="${recipe?.notes.notes}">Some lengthy directions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>